*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 2em;
  font-family: 'Poppins', sans-serif;
}

body{
  background: rgb(245, 245, 245);
}

/* Navigation */
.nav_component{
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 2fr 5fr 2fr;
  font-size: .23rem;
  gap: 50px;
  padding: 10px 20px;
  background-color: white;
  /* box-shadow: 0 9px 50px rgba(0,0,0,0.13); */
  border-bottom: 1px solid rgb(200,200,200);
}

.search_nav_section{
  display: flex;
  border: 1px solid rgb(220,220,220);
  border-radius: 27px;
  padding: 5px 20px;
  font-size: .33rem;
  background: rgb(240,240,240);
}

.search_nav_section > input{
  width: 100%;
  border: none;
  font-size: .5rem;
  background-color: transparent;
  text-align: center;
}

.search_nav_section > input:focus{
  outline: none;
}

.nav_icons_items{
  font-size: .2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 20px;
}

.nav_icons_item{
  cursor: pointer;
}

/* User */
.user_icon{
  width: 30px;
  height: 30px;
  font-size: 0.4rem;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgb(0,200,100);
  color: white;
}

/* Story */
.stories_component{
  font-size: 0.34rem;
  padding: 20px;
  display: block;
  width: 100%;
}

.main_stories{
  overflow-x: scroll;
  display: flex;
  gap: 20px;
  width: 100%;
}

/* .main_stories::-webkit-scrollbar{
  display: none;
  scroll-behavior: smooth;
} */

.story > img{
  border-radius: 50%;
  height: 100px;
  padding: 3px;
  border: 2px solid rgb(0,200,100);
  width: 100px;
  object-fit: cover;
}

.show_story{
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.6);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.show_story > img{
  width: 40%;
  height: 100vh;
  object-fit: cover;
  margin: 0vh auto;
  z-index: 999;
}
/* Posts */
.posts{
  width: 92%;
  margin: 0 auto;
}

.post{
  width: 100%;
  font-size: 0.2rem;
  margin: 20px auto;
  border-radius: 16px;
  background: white;
  box-shadow: 0 6px 15px rgba(0,0,0,0.05);
  padding: 20px;
}

.post_head_content{
  display: flex;
  gap: 30px;
  align-items: center;
}

.post_head_content > img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.post_author_et_date{
  display: flex;
  flex-direction: column;
  font-size: 0.2rem;
}

.post_author_et_date > h3{
  font-size: 0.5rem;
}

.post_content{
  padding: 20px 0;
}

.post_content > p{
  font-size: 0.4rem;
  padding: 10px 0;
}

.post_content > img{
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 20px;
}

.posts > h3{
  font-size: 0.6rem;
  padding: 0;

  color: rgb(60,60,60);
} 

/* Main Division */
.main_division{
  font-size: .3rem;
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
  gap: 30px;
}

/* Side Profile */
.side_profile, .right_compo{
  height: 100vh;
  background-color: white;
  position: sticky;
  z-index: -33;
  top: 55px;
  left: 0;
}

.profile{
  width: 90%;
  font-size: 0.2rem;
  margin: 40px auto;
  border-radius: 14px;
  border: 1px solid rgb(220,220,220);
  /* box-shadow: 0 10px 25px rgba(0,0,0,0.2); */
}

.cover > img{
  width: 100%;
  height: 100px;
  border-radius: 14px 14px 0 0;
}

.profile_img{
  display: flex;
  align-content: center;
  justify-items: center;
  justify-content: center;
  margin-top: -50px;
}

.profile_img > img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.username_title{
  font-size: 0.6rem;
  text-align: center;
  margin: 14px;
}

.bio{
  text-align: center;
  padding: 0 20px 30px;
  margin-top: -14px;
}

/* Sections */
.sections{
  font-size: .25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  cursor: pointer;
}

/* Trending */
.right_compo{
  font-size: .23rem;
}

.trending{
  width: 85%;
  margin: 20px auto;
  padding: 20px;
}

.trending > h3{
  font-size: .5rem;
}

.trending_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  row-gap: 0px;
  margin-top: 10px;
}

.trend > img{
  width: 100%;
  border-radius: 6px;
  height: 80px;
  object-fit: cover;
}

/* Other Tools */
.other_tools{
  width: 70%;
  margin: 20px auto;
  font-size: 0.23rem;
  display: grid;
  /* align-items: flex-end;
  justify-content: end; */
  gap: 20px;
  padding: 30px 0;
}

.tools{
  /* color: red;
  cursor: pointer; */
}



@media screen and (max-width: 500px) {
  .nav_icons_items{
    display: none;
  }

  .nav_component{
    box-shadow: 0 5px 25px rgba(0,0,0,0.1);
  }

  .mobile_nav_component{
    display: grid;
    padding: 14px 24px 30px;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 50px;
    font-size: 0.48rem;
    font-weight: 800;
    background-color: white;
    box-shadow: 0 9px 50px rgba(0,0,0,0.04);
  }

  .mobile_base_nav_component{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: .3rem;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    padding: 16px 20px;
    background: white;
    box-shadow: 0 -7px 15px rgba(0,0,0,0.1);
  }

  .stories_component{
    font-size: 0.34rem;
    padding: 20px;
    display: block;
  }

  .main_stories{
    overflow-x: scroll;
    display: flex;
    gap: 20px;
  }

  .story > img{
    border-radius: 50%;
  height: 100px;
  padding: 3px;
  border: 2px solid rgb(0,200,100);
  width: 100px;
  object-fit: cover;
  }

  .show_story{
    background-color: black;
  }
  .show_story > img{
    width: 94%;
    height: 90vh;
    margin: 5vh auto;
  }
}